/*this is so u can scroll horizontally*/
html, body {
    max-width: 100vw;

    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;

}


.header
{
    min-height: 1440px; /*used to be 100 then 190*/
    width: 100%;
    /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);*/
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.45),
            rgba(255, 255, 255, 0.45)
    ),url(images/NewYork.jpeg);
    background-position: center;
    background-size: auto;
    position: relative;

}

nav
{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img /* for the logo */
{
    width: 170px;
    /*padding-left: 100%;*/
}

.nav-links
{
    flex: 1; /*so it occupies all the space in the room*/
    text-allign: right; /*text will be on right side*/
}

.nav-links ul li
{
    list-style: none; /* no bullet points */
    display: inline-block; /* so its horizontal */
    padding: 5px 8px;
    position: relative;
}

.nav-links ul li a
{
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after /* making hover effect */
{
    content: '';
    width: 0;
    height: 2px;
    background: #575a5d;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after
{
    width: 100%;
}

.text-box
{
    width: 76%;
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* so it will be in the center of this div*/
    text-align: center;

}

.text-box h1
{
    font-family: 'Nanum Myeongjo', serif;
    /*font-family: 'Baskervville', serif;*/
    font-size: 40px;
}

.text-box p
{
    margin: 10px 0 40px; /* 10 from top, 0 left and right, 40 from bottom*/
    font-size: 16px;
    color: black;
}

.hero-btn
{
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover
{
    border: 1px solid white;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*background: #a0a3a5;*/
    opacity: 0.8;
    transition: 1s;
}


/*so icons are hidden for larger screen devices:*/
nav .fa
{
    display: none;

}

@media(max-width: 700px) /*for any device with width less or equal to 700px*/ {
    .text-box h1 {
        font-size: 30px;
    }

    .nav-links ul li {
        top: 60px;
        display: flex;
        right: 100px;
    }

    .nav-links {
        position: absolute;
        /*background: #a8c6d7;*/
        background: rgba(255, 255, 255, 0.4);
        /*background: white;*/
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-allign: left;
        z-index: 2;
        /*trasnition of opening and closing when there is an action, so its smooth*/
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    /*this is so the line doesnt epxand when in iphone*/
    .nav-links ul li:hover::after
    {
        width: 0;
    }
}



 /*--------------SUB HEADER-------------------*/

.sub-header
{
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.75),
            rgba(255, 255, 255, 0.75)
    ),url(images/NewYork3.jpeg);
}


    /*--------------Why DBS---------------*/

    .row
    {
        margin-top: 5%;
        /*so all the div inside this row will be in the collumn*/
        display: flex;
        justify-content: space-between;

    }

    .WhyDBS
    {
        width: 80%;
        /*so it will be center, space from left and right side*/
        margin: auto;
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
        padding-top: 100px;
    }

    .WhyDBS h1
    {
        font-family: 'Nanum Myeongjo', serif;
        font-size: 40px;
    }


    .whyDBs-col
    {
        /*to split between 3*/
        flex-basis: 31%;
        border-radius: 10px;
        /*so theres space when opening from small screen*/
        margin-bottom: 5%;
        text-align: left;
    }

    .DBS-links ul li
    {
        list-style: none; /* no bullet points */
        display: inline-block; /* so its horizontal */
        padding: 5px 8px;
        position: relative;
    }

    /*CO-President roles*/
    .whyDBs-col1
    {
        flex-basis: 45%;
        border-radius: 10px;
        /*so theres space when opening from small screen*/
        margin-bottom: 5%;
        text-align: left;
    }
    .whyDBs-col1 img
    {
        height: 90%;
        width: 100%;
        border-radius: 10px;
    }

    .whyDBs-col img
    {
        height: 80%;
        width: 100%;
        border-radius: 10px;
    }
    /*p for paragraph*/
    .whyDBs-col p
    {
        padding: 0;
    }

    .whyDBs-col h3
    {
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;
    }

    @media(max-width: 700px)
    {
        .row
        {
            flex-direction: column;
        }

        .WhyDBS h1
        {
            font-size: 30px;
        }
    }

    /*---------------CALENDAR----------------*/
    .Calendar
    {
        border-radius: 10px;
        width: 80%;
        margin: auto;
        padding-top: 100px;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

    .Calendar iframe
    {
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .Calendar h1
    {
        font-family: 'Nanum Myeongjo', serif;
        font-size: 40px;
    }

    @media(max-width: 700px)
    {
        .Calendar h1
        {
            font-size: 30px;
        }
    }


/*--------------------Footer---------------------*/

.footer
{
    color: black;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.footer ul li
{
    list-style: none; /* no bullet points */
    display: inline-block; /* so its horizontal */
    padding: 5px 8px;
    position: relative;
    font-size: 30px;
}

.footer ul li a
{
    color: #000000;
    text-decoration: none;
}

.footer h4
{
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
}


/*---------------MAKE ICONS PRESSABLE--------------*/
/* Style all font awesome icons */
/*.fa*/
/*{*/
/*    padding: 20px;*/
/*    font-size: 30px;*/
/*    width: 50px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    color: #000000;*/
/*}*/

/* Add a hover effect if you want */
/*.fa:hover*/
/*{*/
/*    opacity: 0.7;*/
/*    color: dodgerblue;*/
/*    transition: 0.5s;*/
/*}*/


/*-----------------NEWSLETTER-------------------------*/


* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    /*padding-left: 20px;*/
    float: left;
    width: 100%;
}

.leftcolumn h1
{
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
    font-size: 40px;
}

.leftcolumn h2
{
    font-family: 'Nanum Myeongjo', serif;
}

.fakeimg {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.45),
            rgba(255, 255, 255, 0.45)
    ),url(images/NewYork2.jpeg);
    border-radius: 10px;
    width: 100%;
}


/* Add a card effect for articles */
.card {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn {
        width: 100%;
    }

    .leftcolumn h1
    {
        font-size: 30px;
    }
}